[Desktop Entry]
Name=xldesk
NoDisplay=true
MimeType=x-scheme-handler/xldesk;
TryExec=xldesk
Exec=xldesk %u
Icon=xldesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=xldesk